/* Prettified by Source 2 Viewer 14.1.0.0 - https://valveresourceformat.github.io */

#id-tooltip-changeclantag
{
	flow-children: down;
}

#id-clantag-pending-img
{
	visibility: collapse;
}

.show-spinner #id-clantag-pending-img
{
	visibility: visible;
}

#id-clantag-img
{
	visibility: visible;
}

.show-spinner #id-clantag-img
{
	visibility: collapse;
}

#id-clantag-pending-img
{
	background-image: url("s2r://panorama/images/icons/ui/loading.vsvg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	animation-name: SpinnerRotate;
	animation-duration: 1.25s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	horizontal-align:center;
	vertical-align:center;
}

@keyframes 'SpinnerRotate'
{
	0%
	{
		transform: scaleX( 1 );
		clip:radial(50% 50%, 0deg, 360deg);
	}
	
	49%
	{
		transform: scaleX( 1 );
		clip:radial(50% 50%, 0deg, 0deg);
	}
	
	50%
	{
		transform: scaleX( -1 );
		clip:radial(50% 50%, 0deg, 0deg);
	}
	
	100%
	{
		transform: scaleX( -1 );
		clip:radial(50% 50%, 0deg, 360deg);
	}
	
}

