/* Prettified by Source 2 Viewer 14.1.0.0 - https://valveresourceformat.github.io */

#ContextMenuBody.RightArrowVisible #Contents.photo-viewer
{
	margin: 32px;
	padding: 0px;
	border-radius: 0px;
	box-shadow: #00000044 4px 0px 32px 0px;
	background-color: none;
	flow-children: none;
}

.photo-viewer .photo-viewer__image
{
	width: fit-children;
	max-width: 640px;
	height: fit-children;
	margin: 0px;
	brightness: 1;
	horizontal-align: center;
	vertical-align: center;
}

.photo-viewer .IconButton
{
	width: fit-children;
	padding: 4px;
}

