/* Prettified by Source 2 Viewer 14.1.0.0 - https://valveresourceformat.github.io */

.PopupPanel
{
	transform: translateY(0px);
	width: 100%;
	max-width: 100%;
	height: 100%;
	background-color: none;
	padding: 0px;
	box-shadow: none;
	flow-children: none;
}

.PopupPanel.Hidden
{
	pre-transform-scale2d: 1;
	transition-property: transform, pre-transform-scale2d, opacity, height, width;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.pet-event-frame
{
	width: 640px;
	height: 640px;
	margin-left: 530px;
	margin-bottom: 16px;
	padding: 16px;
	horizontal-align: center;
	vertical-align: bottom;
	border: 0px solid rgb(65, 65, 65);
	transform: translateX( 90px ) translateY(640px) scale3d(.35, .35, .35);
	transition-property: transform;
	transition-duration: 0.35s;
	transition-timing-function: ease-in-out;
}

.pet-event-frame .pet-event-model-container
{
	width: 100%;
	height: 100%;
	margin: 0px 0px 0px 0px;
	border:2px solid rgb(194, 194, 194);
	border-radius: 50%;
	box-shadow: 0px 0px 32px 2px rgba(0, 0, 0, 0.5);
	transition-property: brightness;
	transition-duration: 0.35s;
	transition-timing-function: ease-in-out;
}

.pet-event-frame .pet-event-model-container.dark
{
	brightness: .4;
}

.pet-event-frame .pet-event-model-container.fade-black
{
	brightness: 0;
	transition-property: brightness;
	transition-duration: 3.0s;
	transition-timing-function: ease-in-out;
}

.pet-event-frame.show
{
	transform: translateX( 0px ) translateY( 0px) scale3d(1, 1, 1);
	transition-property: transform;
	transition-duration: 0.35s;
	transition-timing-function: ease-in-out;
}

.pet-event-white-fill
{
	width: 100%;
	height: 100%;
	opacity: .99;
	background-color: rgb(255, 255, 255);
	z-index: 40;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.pet-event-white-fill.hide-white
{
	opacity: 0;
}

.pet-event-body-text-container
{
	min-height: 120px;
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
	margin-top: 64px;
	transition-property: opacity;
	transition-duration: 0.35s;
	transition-timing-function: ease-in-out;
}

.pet-event-body-text-container.hide-text
{
	opacity: 0;
}

.pet-event-body-text-container .pet-event-body-text__title
{
	font-size: 36px;
	text-align: center;
	vertical-align: top;
	horizontal-align: center;
	color: black;
	text-shadow: 0px 0px 8px 1.0 #aaaaaa;
}

.pet-event-body-text-container .pet-event-body-text__body
{
	font-size: 20px;
	margin-top: 0px;
	text-align: center;
	text-overflow: shrink;
	vertical-align: top;
	color: rgb(0, 0, 0);
	text-shadow: 0px 0px 8px 1.0 #aaaaaa;
}

.pet-event-button-row
{
	vertical-align: bottom;
	horizontal-align: center;
	width: 512px;
	transform: translateX( 256px );
}

.pet-event-button-row .pet-event-button-row__btns
{
	horizontal-align: right;
	margin-right: 16px;
	margin-top: 6px;
	margin-bottom: 6px;
	width: 100%;
	flow-children: right;
}

.pet-event-button-row .hide-btn
{
	visibility: collapse;
}

#id-pet-event-continue-btn
{
	horizontal-align:center;
	vertical-align: center;
}

#id-pet-event-continue-btn.hide-btn
{
	opacity: 0;
}

